modules = ["python-3.12"]
run = "gunicorn -w 1 -b 0.0.0.0:$PORT app:app"

[nix]
channel = "stable-24_05"
packages = ["glibcLocales"]

[deployment]
run = ["sh", "-c", "gunicorn -w 1 -b 0.0.0.0:$PORT app:app"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 43663062
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn -w 1 -b 0.0.0.0:5000 app:app"

[[ports]]
localPort = 5000
externalPort = 80
